bin/
Bin/
*.dll
*.pdb
*.user
*.cache
*.suo
*.docstates
obj/
_ReSharper.*
*.orig
dist/**
pkg/*/**
*.nupkg
PrecompiledWeb
elmah.xml
Elmah.xml
samples/Demo/Mails/*
samples/Demo/App_Data/*
samples/Demo/Web.config
