<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Microsoft.Web.Infrastructure" version="1.0.0.0" targetFramework="net40" />
  <package id="MoreLinq.Source.MoreEnumerable.Index" version="1.0.0" targetFramework="net35" />
  <package id="MoreLinq.Source.MoreEnumerable.Pairwise" version="1.0.0" targetFramework="net35" />
  <package id="MoreLinq.Source.MoreEnumerable.ToDelimitedString" version="1.0.0" targetFramework="net35" />
</packages>